In [2]:
import pandas as pd
import numpy as np

In [17]:
df_articles = pd.read_csv("../fashion_dataset/articles.csv.zip")

In [52]:
df_articles.sample(2)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
48527,692339001,692339,JORDAN sweater,252,Sweater,Garment Upper body,1010016,Solid,11,Off White,...,Newborn,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1005,Jersey Fancy,Top in soft velour with appliqués and embroide...
83521,812364001,812364,X-tina Brazilian,59,Swimwear bottom,Swimwear,1010026,Other structure,11,Off White,...,Swimwear,B,Lingeries/Tights,1,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,"Fully lined bikini bottoms in fluted, crinkled..."

In [54]:
df_articles[df_articles['article_id'] == 370868013]

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
1697,370868013,370868,Virginie shorts 2p (K),296,Pyjama bottom,Nightwear,1010001,All over pattern,51,Light Pink,...,Nightwear,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1017,"Under-, Nightwear",Shorts in soft viscose jersey with an elastica...

### Filter out the nonrepresentative product group names

In [19]:
# The product_group_name to have
categories_to_have = \
['Garment Upper body', 'Garment Lower body', 'Garment Full body', 'Accessories', 'Underwear',\
 'Shoes', 'Swimwear', 'Socks & Tights', 'Nightwear']

In [20]:
df_articles_filtered = df_articles[df_articles['product_group_name'].isin(categories_to_have)]

### Save to the file

In [24]:
df_to_save = df_articles_filtered[['article_id', 'product_group_name']]

In [26]:
df_to_save.to_csv('filename_product_group_name.txt', index=False)

In [50]:
with open("filename_product_group_name.txt", "r") as file:
    lines = file.readlines()[1:]
    data = [line.strip().split(",") for line in lines]
    # for line in lines[1:]:
    #     print(line)
    #     break
    #data = [line.strip().split(",") for line in lines]
    #print(data)

In [51]:
data[0]

['108775015', 'Garment Upper body']

In [40]:
a = '108775015'
a

'108775015'

In [49]:
'samples/' + a[:2]+ '/' + a+'.jpg'

'samples/10/108775015.jpg'

In [139]:
# !git branch
# !git add .
# !git commit -m "EDA of article.csv update"
# !git push origin kuzma

[kuzma e4466f9] EDA of article.csv update
 1 file changed, 1678 insertions(+), 24 deletions(-)
Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 7.62 KiB | 7.62 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/kuzmatsukanov/kuzma_omri_noa_data_project.git
   5612527..e4466f9  kuzma -> kuzma